<h1>Blogs#index</h1>
<p>Find me in app/views/blogs/index.html.erb</p>

<%= @blogs.each do |blog|%>
  <h3> <%= link_to 'blog.title', blog_path(blog.id) %> </h3>
<%= end%>
<%= link_to 'create Blog', new_blog_path %>
