<div class="container">
  <div class="row">
    <div class= 'col-md-8'>
    </div class = 'row'>
    <% @blogs.each do |blog|%>
      <div class="col-md-4">
        <div class="card mt-3">
          <div class="card-body">
            <h3> <%= link_to blog.title, blog_path(blog.id) %> </h3>
            <%= link_to 'view', blog_path(blog.id), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class= 'col-md-4'>
  <% @categories.each do |category|%>
    <% link_to category.category, blogs_path(:cate => category.id)%>
  <% end %></div>
</div>
</div>

